@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

/* modal (background) */
.modal {
  display: none; /* escondido por padrao */
  position: fixed; /* posição fixa */
  z-index: 1; /* ser exibido no topo*/
  padding-top: 100px; /* localização do box */
  left: 0;
  top: 0;
  width: 100%; /* background "fosco" ocupando a tela inteira */
  height: 100%; /* background "fosco" ocupando a tela inteira */
  overflow: auto; /* habilitar rolagem de pagina mesmo com o modal aberto*/
  background-color: rgb(0,0,0); /* background opaco quando o modal abre*/
  background-color: rgba(0,0,0,0.4); /* opacidade */
  z-index: 102;
  
}

/* conteudo do modal */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* botão fechar */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.btn-conf-reserva{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #C2185B;
  background-color: #C2185B;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}

#modal_form input.campo_modal
{
  padding: 5px;
  background-color: #F8BBD0;
  border-radius: 5px;
  border: none;
}

@media(max-width: 900px){
  #modal_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-content{
    padding: 1%;
    width: 40%;
  }

  #rsvEmail{
    width: 100%;
  }

}


