
body {font-family: Arial, Helvetica, sans-serif;

}

/* modal (background) */
.modal {
  display: none; /* escondido por padrao */
  position: fixed; /* posião fia */
  z-index: 1; /* ser exibido no topo*/
  padding-top: 100px; /* localização do box */
  left: 0;
  top: 0;
  width: 100%; /* background "fosco" ocupando a tela inteira */
  height: 100%; /* background "fosco" ocupando a tela inteira */
  overflow: auto; /* habilitar rolagem de pagina mesmo com o modal aberto*/
  background-color: rgb(0,0,0); /* background opaco quando o modal abre*/
  background-color: rgba(0,0,0,0.4); /* opacidade */
}

/* conteudo do modal */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* botão fechar */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
